.footer {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    width: '100%';
}

.footerBody{
    display: flex;
    flex-direction: row;
}

.img {
    text-align: center;
    margin: 8px 0
}

.img img {
    width: auto;
    max-width: 100%;
    height: 100px;
}

.img-mobile{
    margin-top: 8 ;
    margin-bottom: 8;
}

.img-mobile img {
    width: auto;
    max-width: 100%;
    height: 100px;
}
.contact-info {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 8px 0;
}
.contact-info-mobile {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon{
    margin-left: 32px;
}

.icon-mobile{
    margin-left: 0px;
}

.text-web {
    font-size: 14px;
    margin-left: 5px;
    color: white;
}

.text-mobile {
    font-size: 11px;
    margin-left: 2px;
    color: white;
}

.heading-web {
    font-weight: bold;
    text-align: left;
    align-self:left ;
    align-content:flex-start;
    color:white;
    margin: 4px 32px;
}

.heading-mobile {
    font-weight: bold;
    font-size: 12;
    padding-bottom: 2;
    color: white;
}

.follow-us {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin: 15px 0;
}

.detailed-text {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin: 4px 32px;
}

.detailed-text-mobile {
    cursor: pointer;
    font-size: 11px;
    text-decoration: underline;
    margin: 10px 2px;
}

.services {
    margin: 4px 32px;
   
}

.services-mobile{
    margin: 3px 2px;
    gap: 3;
}

